<html>

<head>
    <title>Creative Assignment</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="Creative.js"></script>
</head>

<body ng-app="bigThing" ng-controller="mainCtrl">
    <div class="container">
        <div class="row" id="instructions">
            <div class="col-sm-12">
                <h1>Pros and Cons list maker</h1>
                <p>In the first entry box below, enter in the pro or con for doing the thing you are debating doing. In the next box
                enter in how important that is to you, on a scale of 1-10, 10 being the most important
                then, pick whether the thing you entered is a pro or a con. When you are all done adding new items, click done and we'll tell you
                whether you should do it or not!</p>
                <form name="Entry" ng-submit="done()">
                    <input type="text" placeholder="New Item" ng-model="Entry.reason"></input>
                    <input type="text" placeholder="Importance 1-10" ng-model="Entry.weight"></input>
                    <button type="button" ng-click="addCon(Entry)">Add as Con</button>
                    <button type="button" ng-click="addPro(Entry)">Add as Pro</button>
                    <button type="submit" ng-click="done()">done</button>
                </form>

            </div>
        </div>
        <div class="row" style="height:70px">
            <div class="col-sm-6">
                <h2>Pros</h2>
                <ul>
                    <li ng-repeat='pro in pros'>
                        {{pro.text}}<br>{{pro.weight}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>Cons</h2>
                <ul>
                    <li ng-repeat='con in cons'>
                        {{con.text}}
                    </li>
                </ul>
            </div>
        </div>
<div class="row">
    <div class="col-sm-6">
        {{message}}
        <button type="button" ng-click="clear()">start over</button>
    </div>
</div>

    </div>

</body>

</html>
